/* @media screen and (min-width: 1440px) { */
    .aboutContainer{
        width: 60%;
        position: relative;
        top: 525px;
        margin-bottom: 600px;
        left: 20%;
        z-index: -1;
      }
      .aboutParagraph{
        margin: 12px;
      }
/* } */