@media screen and (min-width: 1440px) {
    .vcscoutContainer{
        position: absolute;
        top: 50px;
        width: 100%;
       padding: 10px;
      }
      .pptVCScout{
        position: relative;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .vcscoutBack{
        position: absolute;
        position: fixed;
        top: 100px;
        left: 20px;
        z-index: 6;
      }
      .vcsTitle{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .vcscoutBody{
        position: relative;
        display: flex;
        height: auto;
        padding: 10px;
      }
      .vcscoutBodyMedia{
        width: 50%;
      }
      
      .vcscoutBodyText{
        width: 50%;
        padding: 5%;
      }
      
      .aiHack2Carusel{
        position: relative;
        display: flex;
        
        justify-content: center;
      margin-top: 150px;}
      
      .vcScoutPPTHead{
        /* background-color: #a71818; */
        position: relative;
        display:flex;  
        justify-content: center;
        width: 100%;
        /* top: 140px; */
      }
      
      .vcsppt{
        position: relative;
        top: 15px;
        width: 900px;
        height: 500px;
      }
      .teamVCScout{
        /* background-color: #1155cc; */
        position: relative;
        top: -110px;
      }
      .cardContainer{
        display: flex;
        justify-content: space-evenly;
        /* border: solid red 2px; */
      
      }
      .teamCard_vcs{
        position: relative;
        top: 5px;
        width: 25%;
      }
      .teamTitle_vcs{
        display: flex;
        justify-content: center;
      }
      .teamPic_vcs{
        border-radius: 100%;
      }
      /* VCS UNIQUE HEADING THEME */
      .vc_second_team{
        font-weight: 200;
        font-size: 24px;
        margin-bottom: 10px;
        position: relative;
        top: 0px;
      
      }
      .title_vcs{
        font-size: 12px;
      }
      _te
      .vc_second_ppt {
          font-weight: 200;
        font-size: 40px;
      }
      
      .vc_second_back {
          font-weight: 200;
        font-size: 20px;
      }
      
      .vc_second_title{
        font-weight: 200;
        font-size: 45px;
      }
      .vc_second_section_title{
        font-weight: 200;
        font-size: 24px;
        margin: 20px;
      }
      
      .vc_span_second {
          position: relative;
          display: inline-block;
          padding: 5px 10px ;
          border-radius: 10px;
          border-bottom: 1px solid rgb(52,58,64);
        color: #000;
      }
      
      .vc_span_second:after {
          content: '';
          position: absolute;
          bottom: calc(-100% - 1px);
          margin-left: -10px;
          display: block;
          width: 100%; height: 100%;
          border-radius: 10px;
          border-top: 1px solid rgb(52,58,64);
      }
      
      
      
      
      
      
      
      
}