@media screen and (min-width: 1440px) {
    

  .communityContainer{
      /* position: absolute; */
      height: auto;
      width: 100%;
    }
    .hackathonHeader{
      display: flex;
      justify-content: center;
      font-size: 50px;
    }
    
    
    /* headings for community */
    .ch_div {
      text-align: center;
      position: relative;
      margin: 20px auto;
    }
    .ch_h2 {
      font-family: arial;
      color: #333;
      font-size: 40px;
      text-align: center;
      margin: 0 30px;
      /* text-transform: uppercase; */
    }
    .span {
      display: inline-block;
      position: absolute;
      background: rgb(52,58,64);
      height: 3px;
      left: 50%;
    }
    .span.top {
      width: 70px;
      top: 20px;
    }
    .span.bottom {
      width: 120px;
      top: 35px;
    }
    .span.left {
      transform: translateX(-250px);
    }
    .span.bottom.left {
      transform: translateX(-300px);
    }
    .span.right {
      transform: translateX(180px);
    }
    
    
    
    
    .hackathonBtnsContainer{
      position: relative;
      display: flex;
      justify-content: center;
      height: min-content;
    }
    .hackathonImgs{
      width: 420px;
    }
    
    .hackathonTextBody{
      width: 50%;
      height: min-content;
      margin-left: 20px;
      font-size: 18px;
      position: relative;
    }
    .carouselContainer{
      width: 360px;
    }
    .carouselImageContainer{
      width: min-content;
    }
    .conatinerCara{
      width: 200px;
    }
    .carouselImg{
      width: 360px;
    }
    
    .coaching{
      position: relative;
      margin-top: 100px;
    }
    .coachingTextBody{
      /* background-color: #1155cc; */
      width: 80%;
      height: min-content;
      margin-left: 10%;
      font-size: 18px;
      position: relative;
    }
    .coachingContainer{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: min-content;
    }
    .coachingMedia{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    .coachVid{
      position: relative;
    }

    .coachingTestomonies-container{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: min-content;
    }
    .cheriRecomenation_community{
      width: 760px;
      position: relative;
      top: -45px
    }
    .cheriMoreCommunity{
      position: relative;
      top: 20px;
      /* background-color: #000; */
      left: 200px;
      width: fit-content;
      z-index: 4;
      padding: 5px;
      width: 300px;
      background-color: #2070c7;
      border: none;
      color: #fff;
      padding: 10px;
      border-radius: 33px;
      font-family: 'Sunspire-Regular';
      font-size: 18px;
    }

    .jaymey_recomendation_community{
      width: 760px;
      position: relative;
      top: 45px;
    }

    .carouselImg_coaching{
      width: 400px;
    }
    .communityProjectReadMoreBtns{
      position: relative;
      top: 20px;
      display: flex;
      justify-content: center;
    }
    .communityProjectRenderedBtn{
      position: relative;
      margin-right:10px;
      width: 200px;
      background-color: #2070c7;
      border: none;
      color: #fff;
      padding: 10px;
      border-radius: 33px;
      font-family: 'Sunspire-Regular';
      font-size: 18px;
    }
    .techEvents{
      position: relative;
      top: 20px;
    }
    .techEventsContainer{
      position: relative;
      display: flex;
      justify-content: center;
      height: min-content;

    }
    .techEventMedia{
      position: relative;
      width: fit-content;
      display: flex;
      justify-content: center;
      flex-direction:column ;
    }
    .techEventImg{
      width: 390px;
      margin: 20px 0px 5px 0px;
    }
    .externalCommunityBtn{
      /* background-color: #000; */
      display: flex;
      justify-content: center;
      position: relative;
      margin: 40px;
      border: none;
    }
    .externalButtons{
      width: 300px;
      border: none;
      background-color: transparent;
    }
    .externalButtons:hover{
      cursor: pointer;
    }
    .connectionIcons{
      width: 200px;
    }
  
}