@media screen and (min-width:1440px) {
  .dojoSoloProjectContainer{
    /* border: dotted 2px red; */
    position: relative;
    width: 100%;
    top: 60px;
    margin-bottom:200px;
  }
  .dojoSoloProjectTitle { 
    transition: all 1s ease-in-out;  /* Specifies a 2-second transition for all properties, with ease-in-out timing */
    position: relative;              /* Allows for 'top' to have an effect */
    top: 400px;                         /* Initial position of the div */
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 52px;
  }
  
  .dojoSoloProjectTitle.active {
    top: 10px;                    /* When active class is applied, the div will slide up by 100px. Adjust this value based on how far you want the div to slide up */
  }
  
  
  .dojoSoloProjectBody {
    position: relative;
    left: 15%;
    margin-top: 10px;
    /* border: #000 solid 2px; */
    width: 70%;
    opacity: 0;                  /* Initially, the div is fully transparent */
    transition: opacity 1s ease-in-out; /* Specifies a 1-second transition for the opacity property, using an ease-in-out timing function */
  }
  
  .dojoSoloProjectBody.active {
    opacity: 1;                  /* When the "active" class is added, the div becomes fully opaque */
  }
  
  .dojoSoloProjectBody_text{
    font-size: 24px;
    margin: 20px 0px;
  }
  .dojoSoloProjectBody_title{
    font-size: 32px;
    font-weight: bold;
    margin: 40px 0px;
  }
  
  .ecommerceDjangoRef{
    text-decoration: underline;
    display: inline;
  }
  
}