/* CSS RESET DO NOT REMOVE */
*{
  margin: 0px;
  padding: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);



body {
  /* background-color: black;
  color: white;
   */

}


.glow-on-hover {
  width: max-content;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  z-index: 4;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: 4;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: 4;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}



footer { 
  position: fixed;
  bottom: 0px;
  background-color: rgb(52,58,64);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  height: 40px;
  z-index: 6;

}



#merci-text{
  position: relative;
  left: 30px;
  width: 250px;
}
.carousel-indicators, .carousel-control-prev, .carousel-control-next{
  display: none;
}


.indent{
  text-indent: 25px;
}

.boldFont{
 font-weight: 900;
}
.dropdownNav{
  z-index: +10;
}

.slick-next:before, .slick-prev:before {
  color: #000;
}


.gitNavbarLogo{
  width: 25%;
}
.gitNavbarLogo:hover{
  cursor: pointer;
}










































@media screen and (min-width: 1440px){


/* LANDING PAGE
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/

*/
  .threeJsObject_0{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 65%;
    background-color: aliceblue;
  }
  .threeJsObject_1{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 50%;
    background-color: aliceblue;
  }
  .threeJsObject_2{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 65%;
    background-color: aliceblue;
  }
  .threeJsObject:hover{
    cursor: pointer;
    border: solid 1px gray;
    overflow: hidden;
  }

}
