/* CSS RESET DO NOT REMOVE */
*{
  margin: 0px;
  padding: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);



body {
  /* background-color: black;
  color: white;
   */

}


/* GLOBAL CSS   -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/

.glow-on-hover {
  width: max-content;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  z-index: 4;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: 4;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: 4;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}



footer { 
  position: fixed;
  bottom: 0px;
  background-color: rgb(52,58,64);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  height: 40px;
  z-index: 6;

}



#merci-text{
  position: relative;
  left: 30px;
  width: 250px;
}
.carousel-indicators, .carousel-control-prev, .carousel-control-next{
  display: none;
}


.indent{
  text-indent: 25px;
}

.boldFont{
 font-weight: 900;
}
.dropdownNav{
  z-index: +10;
}

.slick-next:before, .slick-prev:before {
  color: #000;
}


.gitNavbarLogo{
  width: 25%;
}
.gitNavbarLogo:hover{
  cursor: pointer;
}



































/* Desktop Screen -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/













@media screen and (min-width: 1440px){


/* LANDING PAGE
-----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/

*/
  .threeJsObject_0{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 65%;
    background-color: aliceblue;
  }
  .threeJsObject_1{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 50%;
    background-color: aliceblue;
  }
  .threeJsObject_2{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 65%;
    background-color: aliceblue;
  }
  .threeJsObject:hover{
    cursor: pointer;
    border: solid 1px gray;
    overflow: hidden;
  }




/* Projects -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/


 
      






  

/* Community -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/

.communityContainer{
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  padding: 20px;
  margin-bottom: 200px;
}
.hackathonHeader{
  display: flex;
  justify-content: center;
  font-size: 50px;
}


/* headings for community */
.ch_div {
  text-align: center;
  position: relative;
  margin: 20px auto;
}
.ch_h2 {
  font-family: arial;
  color: #333;
  font-size: 40px;
  text-align: center;
  margin: 0 30px;
  /* text-transform: uppercase; */
}
.span {
  display: inline-block;
  position: absolute;
  background: rgb(52,58,64);
  height: 3px;
  left: 50%;
}
.span.top {
  width: 70px;
  top: 20px;
}
.span.bottom {
  width: 120px;
  top: 35px;
}
.span.left {
  transform: translateX(-250px);
}
.span.bottom.left {
  transform: translateX(-300px);
}
.span.right {
  transform: translateX(180px);
}




.hackathonBtnsContainer{
  position: relative;
  display: flex;
  justify-content: center;
  height: min-content;
}
.hackathonImgs{
  width: 420px;
}

.hackathonTextBody{
  /* background-color: #1155cc; */
  width: 50%;
  height: min-content;
  margin-left: 20px;
  font-size: 18px;
}
.carouselContainer{
  margin-bottom: 100px ;
  /* background-color: #000; */
  width: 360px;
}
.carouselImageContainer{
  width: min-content;
}
.conatinerCara{
  width: 200px;
}
.carouselImg{
  width: 360px;
}

.coachingContainer{
  position: relative;
  display: flex;
  justify-content: center;
  height: min-content;
}
.coachingMedia{
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.coachVid{
  position: relative;
  left: 50px ;
}
.cheriRecomenation_community{
  width: 760px;
  position: relative;
  top: -25px
}
.cheriMoreCommunity{
  position: relative;
  top: 25%;
  /* background-color: #000; */
  left: 75%;
  width: fit-content;
  z-index: 4;
  padding: 5px;
}
.carouselImg_coaching{
  width: 400px;
}
.communityProjectReadMoreBtns{
  display: flex;
  position: relative;
  top: 20px;
  justify-content: flex-start;
}
.communityProjectRenderedBtn{
  position: relative;
  margin-right:60px ;
}
.techEventsContainer{
  position: relative;
  display: flex;
  justify-content: center;
  height: min-content;
}
.techEventMedia{
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction:column ;
}
.techEventImg{
  width: 390px;
  margin: 20px 0px 5px 0px;
}
.externalCommunityBtn{
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  position: relative;
  margin: 40px;
}






/* Community - HACKSEA -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/


.hackSeaBack{
  position: relative;
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 6;
}
.hs_back_btn{
  position: relative;
  left: 35px;
  z-index: 6;
}

.hackSeaContainer{
  position: relative;
  top: 120px;
  margin-bottom: 200px;
}

.hackSeaBody{
  position: relative;
  width: 90%;
  left: 5%;
}

.hackSeaTextBody{
  width: 70%;
  position: relative;
  left: 15%;
}
.hackSeaText_n_img{
  position: relative;
  left: 10px;
  font-size: 20px;
  height: min-content;
  position: relative;
  top: 20px;
}
.hackSeaText_open_line{
  font-size: 20px;
}
.hackSea_img_w_text{
  display: flex;
  height: 300px;
}
.textfix_hackSea{
  font-size: 20px;
}

.centerMedia_hackSea{
  /* background-color: #000; */
  display: flex;
  justify-content: space-evenly;
}


/* hs_heading */
.hs_h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}


.hs_seven{
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
      z-index: 0;
  }
  
  .hs_seven:after{
      content: " ";
      display: block;
      border-bottom: 1px solid rgb(255, 153, 0);
      border-top: 1px solid rgb(255, 153, 0);
      height: 5px;
    background-color:#f8f8f8;
  }
  .hs_seven:before {
    content: " ";
    display: block;
    border-bottom: 1px solid rgb(255, 153, 0);
    border-top: 1px solid rgb(255, 153, 0);
    height: 5px;
  background-color:#f8f8f8;
}
.hs_article_title{
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  .hs_article_title:after{
    content: " ";
    display: block;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    height: 5px;
  background-color:#f8f8f8;
}
.hs_article_title:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  height: 5px;
background-color:#f8f8f8;
}
.hs_article_title:after{
  content: " ";
  display: block;
  border-bottom: 1px solid rgb(255, 153, 0);
  border-top: 1px solid rgb(255, 153, 0);
  height: 5px;
background-color:#f8f8f8;
}

.hs_article_title:before {
content: " ";
display: block;
border-bottom: 1px solid rgb(255, 153, 0);
border-top: 1px solid rgb(255, 153, 0);
height: 5px;
background-color:#f8f8f8;
}
.hs_font{
  font-weight: bolder;
  font-size:20px;
}

/* Back Button  */
.hs_thirteen{
  position:relative; 
  font-size:20px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  width:150px; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  border:2px solid #222;
  padding:5px 11px 3px 11px;
  z-index: 6;
}
.hs_thirteen:before {
    background-color: #c50000;
    position:absolute; 
    content: '';
    height: 7px;

    width: 7px; border-radius:50%;
    bottom: 12px;
}
.hs_thirteen:after {
  background-color: #c50000;
  position:absolute; 
  content: '';
  height: 7px;

  width: 7px; border-radius:50%;
  bottom: 12px;
}
.hs_thirteen:before {
  left:-20px;
}
.hs_thirteen:after {
  right:-20px;
}

/* Team */

.teamSeratonics{
  /* background-color: #1155cc; */
  position: relative;
  top: 20px;
}
.cardContainer{
  display: flex;
  justify-content: space-evenly;
  /* border: solid red 2px; */

}
.teamCard_seratonics{
  position: relative;
  top: 5px;
  /* background-color: #000; */
  width: 15%;
}
.teamCardBody_3, .teamCardBody_4{
  position: relative;
}
.teamTitle_seratonics{
  display: flex;
  justify-content: center;
}
.title_seratonics{
  font-size: 18px;
}
.teamPic_seratonics{
  border-radius: 10%;
  height: 250px;

}
#teamPic_3_seratonics{
  position: relative;
  height: 250px;
  overflow: hidden;
}
#teamPic_4_seratonics{
  position: relative;
  height: 250px;
  overflow: hidden;
}
.hs_thirteen_team{
  position:relative; 
  font-size:20px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  border:2px solid rgb(255, 153, 0);
  padding:5px 11px 3px 11px;
}

.hs_thirteen_team:before {
  left:-20px;
}
.hs_thirteen_team:after {
  right:-20px;
}




































/* Community - AI Hack2 -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/

.vcscoutContainer{
  position: absolute;
  top: 50px;
  width: 100%;
 padding: 10px;
}
.pptVCScout{
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.vcscoutBack{
  position: absolute;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 6;
}
.vcsTitle{
  width: 100%;
  display: flex;
  justify-content: center;
}
.vcscoutBody{
  position: relative;
  display: flex;
  height: auto;
  padding: 10px;
}
.vcscoutBodyMedia{
  width: 50%;
}

.vcscoutBodyText{
  width: 50%;
  padding: 5%;
}

.aiHack2Carusel{
  position: relative;
  display: flex;
  
  justify-content: center;
margin-top: 150px;}

.vcScoutPPTHead{
  /* background-color: #a71818; */
  position: relative;
  display:flex;  
  justify-content: center;
  width: 100%;
  /* top: 140px; */
}

.vcsppt{
  position: relative;
  top: 15px;
  width: 900px;
  height: 500px;
}
.teamVCScout{
  /* background-color: #1155cc; */
  position: relative;
  top: -110px;
}
.cardContainer{
  display: flex;
  justify-content: space-evenly;
  /* border: solid red 2px; */

}
.teamCard_vcs{
  position: relative;
  top: 5px;
  width: 25%;
}
.teamTitle_vcs{
  display: flex;
  justify-content: center;
}
.teamPic_vcs{
  border-radius: 100%;
}
/* VCS UNIQUE HEADING THEME */
.vc_second_team{
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  top: 0px;

}
.title_vcs{
  font-size: 12px;
}
_te
.vc_second_ppt {
	font-weight: 200;
  font-size: 40px;
}

.vc_second_back {
	font-weight: 200;
  font-size: 20px;
}

.vc_second_title{
  font-weight: 200;
  font-size: 45px;
}
.vc_second_section_title{
  font-weight: 200;
  font-size: 24px;
  margin: 20px;
}

.vc_span_second {
	position: relative;
	display: inline-block;
	padding: 5px 10px ;
	border-radius: 10px;
	border-bottom: 1px solid rgb(52,58,64);
  color: #000;
}

.vc_span_second:after {
	content: '';
	position: absolute;
	bottom: calc(-100% - 1px);
	margin-left: -10px;
	display: block;
	width: 100%; height: 100%;
	border-radius: 10px;
	border-top: 1px solid rgb(52,58,64);
}
















/* Community - aiHack3 -----------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/

.learning4youBack{
  position: absolute;
  position: fixed;
  top: 100px;
  left: 5px;
  z-index: 6;
  /* background-color: #000; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.l4yATagBack{
  color: #000;
  font-family: Merriweather;
  text-decoration: none;
  font-size: 14px;
}
.invisibleSpace{
  background-color: white;
  color: white;
  font-size: 13px;
}

.learnHeading{
  position: relative;
  top:70px;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 42px;
  font-family:  Merriweather; 
  font-size: 38px; 
  font-style: normal
}

.learning4youBody{
  width: 100%;
  height: min-content;
  position: relative;
  top: 100px;
  display: flex;
}

.learning4youText{
  font-size: 18px;
  font-family:  Merriweather; 
  padding: 2% 2% 2% 4%;
  width: 50%;
}
.learning4youPPT{
  border: green 2 px solid;
  width: 50%;
  height: 590px;
  padding: 0% 2% 2% 0%;
  position: relative;
  top: 50px;
  
}
.aihack3_media_titles{
  position: relative;
  font-size: 16px;
  font-family: Merriweather;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.aiHack3YTVid{
  width: 100%;
  z-index: +6;
}

.teamTitle_l4y{
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: Merriweather;
}

.learning4youMedia{
  padding: 0% 2% 2% 0%;
  display: flex;
  position: relative;
  top: 200px;
  
}

.teamL4Y{
  width: 100%;
  position: relative;

}

.teamPic_l4y{
  margin: 10px;
  width: 250px;
  border-radius: 50%;
}
/* Special Heading */

.h1_sixth { position: relative; }

.h1_sixth:before,
.h1_sixth:after {
	content: '[';
	display: inline-block;
	position: relative;
	top: 1px;
	height: 100%;
	color: tomato;
	
	transition: all 0.5s ease;
}

.h1_sixth:after { content: ']'; }

.h1_sixth:hover:before { 
	transform: translateX(-30px);
}

.h1_sixth:hover:after { 
	transform: translateX(30px);
}


.h1_sixth_back { position: relative; }

.h1_sixth_back:before,
.h1_sixth_back:after {
	content: '[';
	display: inline-block;
	position: relative;
	top: 1px;
	height: 100%;
	color: tomato;
	
	transition: all 0.5s ease;
}

.h1_sixth_back:after { content: ']'; }

.h1_sixth_back:hover:before { 
	transform: translateX(-5px);
}

.h1_sixth_back:hover:after { 
	transform: translateX(5px);
}



























}
