/* CSS RESET DO NOT REMOVE */
*{
  margin: 0px;
  padding: 0px;
}

body {
  /* background-color: black;
  color: white; */
  

}


/* GLOBAL CSS */

/* Mobile Screens */
@media screen and (max-width: 759px) {
  
}
/* Tablet Screens */
@media screen and (min-width: 760px){


}



/* Desktop Screen */
@media screen and (min-width: 1165px){
  .threeJsObject_0{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 65%;
    background-color: aliceblue;
  }
  .threeJsObject_1{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 50%;
    background-color: aliceblue;
  }
  .threeJsObject_2{
    /* border: solid 1px red; */
    position: relative;
    width: min-content;
    top: 0px;
    left: 65%;
    background-color: aliceblue;
  }
  .threeJsObject:hover{
    cursor: pointer;
    border: solid 1px gray;
    overflow: hidden;
  }
}
